html, body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
      height: 100%;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  
table {
    margin: 0px !important;
}
#keterangan {
    padding: 4px;
    font-size: 11px;
    /*position: absolute;*/
    /*bottom: 0px;*/
}
.calculation-header {
    font-weight: bold;
}
.cost-result {
    padding: 0px !important;
}
.description {
    position: relative;
}
.header {
    font-style: italic;
    color:#56994c;
}
.list-desc {
    font-size: 20px;
    height: 100%;
}
.tree-group-bottom {
    padding: 0px;
}
.navbar-brand {
    /*background-image: url("../img/logo-50px.png");*/
    padding: 0px;
}
.table-result {
    background-color: #fff !important;
}
.title {
    font-weight: bold;
}
.total-cost-result {
    font-size: 20px;
    font-weight: bold;
    background-color: #994c7c;
    color: #fff;
}
.list-header {
    border-top:1px solid black !important;
}
.list-edge-left {
    border-top:1px solid black !important;
    border-left: 1px solid black !important;
}
.list-edge-right {
    border-top:1px solid black !important;
    border-right: 1px solid black !important;
}
.list-result {
    border: 1px solid black !important;
}
.table-result {
    padding: 0px !important;
}
.calculator {
    padding: 16px !important;
    border:1px solid #C9C9C9;
}
.hitung-btn {
    border-radius: 0px !important;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    margin: 0px !important;
    width: 100%;
}
.tree-group {
    padding: 0px;
}
.tree-desc {
    margin-top:16px !important;
    background: #fff !important;
    border:0px !important;
}
.tree {
    margin-top: 16px;
}

.navbar-toggle .icon-bar{
    background-color: #fff;
}
.list-desc {
    background: #fff;
    border-top:0px !important;
}
.list-item {
    background-color: #f7f7f7;
    border:0px !important;
    padding:2px 8px !important;
}
.table-responsive {
    padding : 16px;
    background-color: #f7f7f7;
    border:1px solid #C9C9C9;
}
.btn-add {
    margin :8px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jumbotron {
    background-image: url("../img/forest-tropical1.jpg");
    background-size: cover;
    background-color: #089543;
    color: #fff;
    font-family: Montserrat, sans-serif;
    position: relative;
    text-align: center;
    padding: 80px 120px;
    height: 100%;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #089543;
    font-size: 50px;
}
.logo {
    color: #089543;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.navbar {
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.2s linear !important;
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.solid-nav {
    background-color: #089543 !important;
    transition: background-color 0.2s linear;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #089543 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer {
    background-color: #089543;
    color:#ffffff;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}